*{
    margin: 0px;
    padding: 0px;
}
header, main{
    margin: 10px auto;
    width: 80%; /*920*/
    min-width: 470px;

}
div{
    width: 100%;
    display: inline;
}
nav{
    line-height: 3.5em;
    float: right;
}
li{
    display: inline;
}
a{  
    color: black;
    text-decoration: none;
}
#capa{
    width: 100%;
}
h3{
    margin: 20px;
}
p{
    margin: 20px 40px;
    text-align: justify;
}
